<style id = "mitech-style-inline-css" type="text/css">.boxed {
    max-width: 1200px
}

.page-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

::-moz-selection {
    color: #fff;
    background-color: #2d4363
}

::selection {
    color: #fff;
    background-color: #2d4363
}

mark,
.growl-close:hover,
.newsletter-popup-close:hover,
.primary-color,
#powerTip#powerTip,
.tm-accordion.style-02 .accordion-section.active .accordion-title,
.tm-accordion.style-02 .accordion-title:hover,
.tm-button.style-solid:not(:hover),
.tm-box-icon .btn,
.tm-box-icon .icon,
.tm-box-icon.style-03 .heading,
.tm-box-icon.style-04 .text,
.tm-box-image .btn,
.tm-box-image.style-10:hover div.btn,
.tm-box-large-image.style-03 .btn,
.tm-box-large-image.style-03:hover .heading,
.tm-box-large-image.style-04 .btn,
.tm-blog.style-list-small-image-02 .post-wrapper:hover .post-title,
.tm-counter .icon,
.tm-counter .number-wrap,
.tm-countdown.style-01 .number,
.tm-circle-progress-chart.style-01 .chart-icon,
.tm-gradation.style-02 .icon,
.chart-legends li:hover,
.tm-drop-cap.style-02 .drop-cap,
.tm-gradation.style-01 .icon,
.tm-gradation.style-01 .gradation-btn,
.tm-gradation.style-01 .item:hover .heading,
.tm-heading.link-style-01 a,
.tm-heading.link-style-02 a,
.tm-heading.link-style-03 a,
.tm-product-banner-slider .tm-product-banner-btn,
.tm-twitter.group-style-01 .tweet-info:before,
.tm-twitter.group-style-01 .tweet-text a:hover,
.tm-twitter .tweet:before,
.tm-info-boxes .box-icon,
.tm-info-boxes .tm-button .button-icon,
.tm-instagram .instagram-user-name,
.tm-grid-wrapper.filter-style-01 .btn-filter.current,
.tm-grid-wrapper.filter-style-01 .btn-filter:hover,
.tm-blog .post-title a:hover,
.tm-blog .post-categories a:hover,
.tm-blog.style-list .sticky .post-sticky,
.tm-blog.style-grid-metro .format-quote .post-content:before,
.tm-blog.style-grid-masonry .btn,
.tm-blog-widget .post-categories a:hover,
.tm-blog-widget .post-title a:hover,
.tm-blog-widget.style-simple-list .post-title a:before,
.tm-mailchimp-form.style-02 .form-submit,
.tm-pricing .feature-icon,
.tm-case-study .post-categories,
.tm-case-study .post-categories a:hover,
.tm-case-study.style-carousel .btn,
.tm-case-study.caption-style-02 .btn,
.tm-case-study .post-title a:hover,
.tm-popup-map .tm-button-map,
.tm-icon.style-01 .icon,
.tm-list .marker,
.tm-list .link:hover,
.tm-list.style-auto-numbered-02 .link:hover .marker,
.tm-list.style-auto-numbered-02 .link:hover .title,
.tm-list.style-auto-numbered-02 .title:before,
.tm-mailchimp-form-popup .subscribe-open-popup-link,
.mailchimp-form-popup-close:hover,
.tm-mailchimp-form-box.style-01 .form-submit,
.tm-problem-solution .problem:before,
.tm-problem-solution .solution:before,
.tm-popup-video.style-button-03 .video-play,
.tm-social-networks .link:hover,
.tm-social-networks.style-title .item:hover .link-text,
.tm-swiper .swiper-nav-button:hover,
.tm-slider a:hover .heading,
.tm-timeline.style-01 .year,
.tm-timeline.style-01 .dots,
.vc_progress_bar .vc_general.vc_single_bar .vc_bar,
.woosw-area .woosw-inner .woosw-content .woosw-content-top .woosw-close:hover,
.woosw-area .woosw-inner .woosw-content .woosw-content-bot .woosw-content-bot-inner .woosw-page a:hover,
.woosw-continue:hover,
.skin-primary .wpcf7-text.wpcf7-text,
.skin-primary .wpcf7-textarea,
.tm-menu .menu-price,
.page-content .tm-custom-menu.style-1 .menu a:hover,
.case-study-nav-links .inner h6:before,
.widget_archive li a:hover,
.widget_categories li a:hover,
.widget_product_categories li a:hover,
.woocommerce-widget-layered-nav-list a:hover,
.single-post .post-meta .meta-icon,
.single-post .post-meta .sl-icon,
.entry-post-categories a:hover,
.entry-post-tags a:hover,
.entry-post-share a:hover,
.page-sidebar .widget_pages .current-menu-item>a,
.page-sidebar .widget_nav_menu .current-menu-item>a,
.page-sidebar .insight-core-bmw .current-menu-item>a,
.widget_recent_entries .post-date:before,
.page-links>span,
.page-links>a:hover,
.page-links>a:focus,
.comment-list .comment-actions a:hover,
.page-sidebar-fixed .widget a:hover,
.archive-case-study-category-list .cat-item.current a,
.archive-case-study-category-list .cat-item a:hover,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-01 .vc_tta-tab>a:hover,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-01 .vc_tta-tab.vc_active>a,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-02 .vc_tta-tab>a:hover,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-02 .vc_tta-tab.vc_active>a,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-01 .vc_tta-panel-heading:hover,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-01 .vc_active .vc_tta-panel-heading,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-02 .vc_tta-panel-heading:hover,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-02 .vc_active .vc_tta-panel-heading,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-03 .vc_tta-tab:not(.vc_active)>a:hover,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-03 .vc_tta-panel-heading:hover {
    color: #2d4363
}

.primary-color-important,
.primary-color-hover-important:hover {
    color: #2d4363 !important
}

.primary-background-color,
.hint--primary:after,
#powerTip#powerTip,
.page-scroll-up,
.widget_calendar #today,
.top-bar-01 .top-bar-button,
.tm-box-image.style-01:hover .circle-arrow .middle-arrow,
.tm-box-image.style-06 .btn:before,
.tm-box-large-image.style-03 .btn:before,
.tm-blog.style-grid-masonry .btn:before,
.tm-case-study.style-carousel .btn:before,
.tm-case-study.caption-style-02 .btn:before,
.tm-gradation.style-02 .dot,
.tm-gradation.style-02 .item:hover .icon,
.tm-gallery .overlay,
.tm-grid-wrapper.filter-style-01 .filter-counter,
.tm-icon.style-02 .icon,
.tm-countdown.style-03 .number,
.tm-circle-progress-chart.style-02 .circle-design,
.tm-circle-progress-chart.style-02 .inner-circle,
.tm-heading.below-separator .separator:after,
.tm-heading.thick-separator .separator:after,
.tm-heading.top-separator .separator:after,
.tm-heading.modern-number-02 .heading:before,
.tm-maps.marker-style-signal .animated-dot .middle-dot,
.tm-maps.marker-style-signal .animated-dot div[class*='signal'],
.tm-separator.style-modern-dots .dot,
.tm-text-box.style-03,
.tm-rotate-box .box,
.tm-social-networks.style-flat-rounded-icon .link:hover,
.tm-social-networks.style-solid-rounded-icon .link:hover,
.tm-popup-video .video-play,
.tm-pricing .tm-pricing-button:hover,
.tm-product.style-grid .product-actions,
body.search .page-main-content .search-form .search-submit,
.tm-mailchimp-form-box.style-01,
.tm-services-list.style-02 .service-image .blend-bg,
.tm-swiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill,
.tm-swiper.nav-style-02 .swiper-nav-button:hover,
.tm-swiper.nav-style-02 .swiper-nav-button:before,
.vc_progress_bar .vc_general.vc_single_bar .vc_bar,
.archive-case-study-category-list .cat-link:after,
.single-post .entry-post-feature.post-quote,
.entry-post-share .share-icon,
.widget .tagcloud a:before,
.entry-case-study-feature .gallery-item .overlay,
.widget_search .search-submit:hover,
.widget_product_search .search-submit:hover,
body.search .page-main-content .search-form .search-submit:hover,
.tm-search-form .category-list a:hover,
.woocommerce .select2-container--default .select2-results__option--highlighted[aria-selected],
.vc_general.vc_pagination.vc_pagination-shape-round .vc_active .vc_pagination-trigger:before {
    background-color: #2d4363
}

.primary-background-color-important,
.primary-background-color-hover-important:hover,
.lSSlideOuter .lSPager.lSpg>li a:before,
.lg-progress-bar .lg-progress,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-03 .vc_tta-tab.vc_active>a,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-03 .vc_active .vc_tta-panel-heading {
    background-color: #2d4363 !important
}

.tm-twitter.style-slider-quote .tweet-text {
    background-color: rgba(45, 67, 99, 0.05)
}

.tm-popup-video.style-poster-01 .video-overlay {
    background-color: rgba(45, 67, 99, 0.8)
}

.tm-view-demo .overlay {
    background-color: rgba(45, 67, 99, 0.9)
}

.primary-border-color,
.tm-button.style-solid:not(:hover),
.tm-box-image.style-01 .circle-arrow .middle-dot,
.tm-image-hotspot.style-signal .drag_element:before,
.widget_search .search-field:focus,
.widget_product_search .search-field:focus,
.popup-search-wrap .search-form .search-field:focus,
.widget .mc4wp-form input[type=email]:focus,
.tm-popup-video.style-button-02 .wave-pulse:before,
.tm-popup-video.style-button-02 .wave-pulse:after,
.tm-popup-video.style-poster-02 .wave-pulse:before,
.tm-popup-video.style-poster-02 .wave-pulse:after,
.widget_pages .current-menu-item,
.widget_nav_menu .current-menu-item,
.insight-core-bmw .current-menu-item {
    border-color: #2d4363
}

.tm-gradation.style-01 .item:hover .circle,
.tm-list-selection.style-01 select,
.tm-slider-button.style-01 .slider-btn:hover {
    border-color: #2d4363;
    background-color: #2d4363
}

.wishlist-btn.style-01 a:not(:hover),
.compare-btn.style-01 a:not(:hover) {
    color: #2d4363;
    border-color: #2d4363
}

.primary-border-color-important,
.primary-border-color-hover-important:hover,
.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover,
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-01 .vc_tta-tab>a:hover,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-01 .vc_tta-tab.vc_active>a,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-01 .vc_tta-panel-heading:hover,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-01 .vc_active .vc_tta-panel-heading,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-02 .vc_tta-tab>a:hover,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-02 .vc_tta-tab.vc_active>a,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-02 .vc_tta-panel-heading:hover,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-02 .vc_active .vc_tta-panel-heading,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-03 .vc_tta-tab>a:hover,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-03 .vc_tta-tab.vc_active>a,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-03 .vc_tta-panel-heading:hover,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-03 .vc_active .vc_tta-panel-heading {
    border-color: #2d4363 !important
}

.tm-grid-wrapper.filter-style-01 .filter-counter:before,
.hint--primary.hint--top-left:before,
.hint--primary.hint--top-right:before,
.hint--primary.hint--top:before {
    border-top-color: #2d4363
}

.hint--primary.hint--right:before {
    border-right-color: #2d4363
}

.hint--primary.hint--bottom-left:before,
.hint--primary.hint--bottom-right:before,
.hint--primary.hint--bottom:before {
    border-bottom-color: #2d4363
}

.hint--primary.hint--left:before {
    border-left-color: #2d4363
}

.testimonial-info svg * {
    fill: #2d4363
}

.tm-circle-progress-chart.style-02 .circle-design {
    box-shadow: 0 2px 17px rgba(45, 67, 99, 0.27)
}

.tm-image-hotspot.style-signal .drag_element:before {
    box-shadow: inset 0 0 17px 10px rgba(45, 67, 99, 0.6)
}

.secondary-color,
.tm-accordion.style-02 .accordion-section.active .accordion-icon:before,
.tm-accordion.style-02 .accordion-title:hover .accordion-icon:before,
.tm-blog .post-read-more.style-link a:hover,
.tm-blog .post-categories,
.tm-blog-widget .post-categories,
.tm-box-icon:hover div.btn,
.tm-box-icon a.btn:hover,
.tm-box-icon.style-03 .icon,
.tm-box-icon.style-04 .icon,
.tm-box-image:hover div.btn,
.tm-box-image a.btn:hover,
.tm-counter.style-01 .heading,
.tm-gradation.style-01 .gradation-btn:hover,
.tm-heading.highlight-01 .heading mark,
.tm-heading.modern-number-01 .heading mark,
.tm-pricing.style-01 .tm-pricing-list li:before,
.tm-twitter.style-slider-quote .tweet-text a,
.related-case-study-item .post-categories,
.single-post .post-link a,
.entry-post-categories,
.related-posts .post-categories,
.entry-case-study-categories,
.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-title>a {
    color: #bd9d60
}

.secondary-color-important,
.secondary-color-hover-important:hover {
    color: #bd9d60 !important
}

.secondary-background-color,
.hint--secondary:after,
.top-bar-01 .top-bar-button:hover,
.tm-accordion.style-01 .accordion-section.active .accordion-title,
.tm-accordion.style-01 .accordion-section:hover .accordion-title,
.tm-blog.style-list .post-link,
.tm-blog.style-list-small-image .post-link,
.tm-box-image.style-01 .circle-arrow .middle-arrow,
.tm-box-large-image.style-02 .btn,
.tm-heading.left-line .heading:before,
.tm-pricing.style-01 .tm-pricing-feature-mark,
.tm-pricing.style-02 .tm-pricing-button,
.tm-search-form .search-submit:hover,
.tm-social-networks.style-title .link-text:after,
.widget_archive .count,
.widget_categories .count,
.widget_product_categories .count,
.woocommerce-widget-layered-nav-list .count,
.vc_tta-color-secondary.vc_tta-style-classic .vc_tta-tab>a,
.vc_tta-color-secondary.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading,
.vc_tta-tabs.vc_tta-color-secondary.vc_tta-style-modern .vc_tta-tab>a,
.vc_tta-color-secondary.vc_tta-style-modern .vc_tta-panel .vc_tta-panel-heading,
.vc_tta-color-secondary.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-body,
.vc_tta-color-secondary.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-heading,
.vc_tta-color-secondary.vc_tta-style-flat .vc_tta-tab>a,
.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-panel:not(.vc_active) .vc_tta-panel-heading:focus,
.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-panel:not(.vc_active) .vc_tta-panel-heading:hover,
.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-tab:not(.vc_active)>a:focus,
.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-tab:not(.vc_active)>a:hover {
    background-color: #bd9d60
}

.secondary-background-color-important,
.secondary-background-color-hover-important:hover,
.mejs-controls .mejs-time-rail .mejs-time-current {
    background-color: #bd9d60 !important
}

.secondary-border-color,
.vc_tta-color-secondary.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading,
.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-heading,
.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-controls-icon::after,
.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-controls-icon::before,
.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-body,
.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-body::after,
.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-body::before,
.vc_tta-tabs.vc_tta-color-secondary.vc_tta-style-outline .vc_tta-tab>a {
    border-color: #bd9d60
}

.secondary-border-color-important,
.secondary-border-color-hover-important:hover,
.wp-block-quote {
    border-color: #bd9d60 !important
}

.hint--secondary.hint--top-left:before,
.hint--secondary.hint--top-right:before,
.hint--secondary.hint--top:before,
.tm-pricing.style-02 .tm-pricing-feature-mark {
    border-top-color: #bd9d60
}

.hint--secondary.hint--right:before {
    border-right-color: #bd9d60
}

.hint--secondary.hint--bottom-left:before,
.hint--secondary.hint--bottom-right:before,
.hint--secondary.hint--bottom:before {
    border-bottom-color: #bd9d60
}

blockquote,
.hint--secondary.hint--left:before {
    border-left-color: #bd9d60
}

.third-color,
.tm-swiper .swiper-pagination-bullet,
.tm-box-image.style-02:hover .heading,
.tm-counter.style-03 .icon,
.tm-icon.style-03 .icon,
.comment-nav-links li .current,
.comment-nav-links li a:hover,
.comment-nav-links li a:focus,
.page-pagination li .current,
.page-pagination li a:hover,
.page-pagination li a:focus,
.entry-case-study-return-link {
    color: #2d4363
}

.tm-box-image.style-04:hover .content-wrap,
.entry-case-study-return-link:hover,
.tm-team-member.group-style-01 .social-networks,
.tm-pricing.style-02.highlight .inner {
    background-color: #2d4363
}

.lg-backdrop {
    background-color: #000 !important
}

#tm-image-6400e4c2301f5 {
    text-align: left
}

#tm-column-inner-6400e4c244f31 {
    background-color: #eaeaea
}

#tm-heading-6400e4c245721 {
    text-align: center
}

#tm-heading-6400e4c245721 .heading {
    max-width: 670px;
    line-height: 1.4
}

#tm-heading-6400e4c246734 {
    text-align: center
}

#tm-heading-6400e4c246734 .heading {
    max-width: 670px;
    line-height: 1.4
}

#tm-counter-6400e4c24a430 {
    text-align: center
}

#tm-counter-6400e4c24acf9 {
    text-align: center
}

#tm-counter-6400e4c24b272 {
    text-align: center
}

#tm-heading-6400e4c24bd28 {
    text-align: center
}

#tm-heading-6400e4c24bd28 .heading {
    max-width: 670px;
    line-height: 1.4
}

#tm-grid-6400e4c24c097 .tm-grid .grid-item {
    align-self: end
}

#tm-grid-6400e4c24c097 .tm-grid .grid-item>div {
    height: 100%
}

#tm-grid-6400e4c24c097 {
    justify-content: center
}

#tm-box-image-6400e4c24c1ef .content-wrap {
    text-align: left;
    align-items: flex-start
}

#tm-box-image-6400e4c24c1ef {
    padding-right: 5px !important;
    padding-left: 5px !important
}

#tm-box-image-6400e4c24d0d1 .content-wrap {
    text-align: left;
    align-items: flex-start
}

#tm-box-image-6400e4c24d0d1 {
    padding-right: 5px !important;
    padding-left: 5px !important
}

#tm-box-image-6400e4c24df68 .content-wrap {
    text-align: left;
    align-items: flex-start
}

#tm-box-image-6400e4c24df68 {
    padding-right: 5px !important;
    padding-left: 5px !important
}

#tm-grid-6400e4c24eb5a .tm-grid .grid-item {
    align-self: end
}

#tm-grid-6400e4c24eb5a .tm-grid .grid-item>div {
    height: 100%
}

#tm-grid-6400e4c24eb5a {
    justify-content: center
}

#tm-box-image-6400e4c24ec57 .content-wrap {
    text-align: left;
    align-items: flex-start
}

#tm-box-image-6400e4c24ec57 {
    padding-right: 5px !important;
    padding-left: 5px !important
}

#tm-box-image-6400e4c24fa75 .content-wrap {
    text-align: left;
    align-items: flex-start
}

#tm-box-image-6400e4c24fa75 {
    padding-right: 5px !important;
    padding-left: 5px !important
}

#tm-box-image-6400e4c2512d3 .content-wrap {
    text-align: left;
    align-items: flex-start
}

#tm-box-image-6400e4c2512d3 {
    padding-right: 5px !important;
    padding-left: 5px !important
}

#tm-row-6400e4c252f9f {
    background-color: #f8f8f8
}

#tm-heading-6400e4c2536a6 {
    text-align: center
}

#tm-heading-6400e4c2536a6 .heading {
    color: #ababab
}

#tm-heading-6400e4c253c88 {
    text-align: center
}

#tm-heading-6400e4c253c88 .heading {
    line-height: 1.4
}

#tm-grid-6400e4c2540a8 {
    justify-content: flex-start
}

#tm-box-large-image-6400e4c2542d0 .content-wrap {
    text-align: left;
    align-items: flex-start
}

#tm-box-large-image-6400e4c254cff .content-wrap {
    text-align: left;
    align-items: flex-start
}

#tm-box-large-image-6400e4c25564c .content-wrap {
    text-align: left;
    align-items: flex-start
}

#tm-box-large-image-6400e4c255fc1 .content-wrap {
    text-align: left;
    align-items: flex-start
}

#tm-box-large-image-6400e4c25693e .content-wrap {
    text-align: left;
    align-items: flex-start
}

#tm-box-large-image-6400e4c25710f .content-wrap {
    text-align: left;
    align-items: flex-start
}

#tm-box-large-image-6400e4c257a9c .content-wrap {
    text-align: left;
    align-items: flex-start
}

#tm-box-large-image-6400e4c258445 .content-wrap {
    text-align: left;
    align-items: flex-start
}

#tm-button-6400e4c258f8b {
    text-align: center
}

#tm-button-6400e4c258f8b .tm-button {
    color: #2d4363
}

#tm-button-6400e4c258f8b .tm-button:hover span {
    color: #bd9d60
}

#tm-button-6400e4c258f8b {
    padding-top: 10px !important
}

#tm-grid-6400e4c25a22f {
    justify-content: flex-start
}

#tm-box-icon-6400e4c25a468 {
    background-color: #f8f8f8
}

#tm-box-icon-6400e4c25a468 .content-wrap {
    text-align: left;
    align-items: flex-start
}

#tm-box-icon-6400e4c25ae0f .content-wrap {
    text-align: left;
    align-items: flex-start
}

#tm-box-icon-6400e4c25b750 {
    background-color: #f8f8f8
}

#tm-box-icon-6400e4c25b750 .content-wrap {
    text-align: left;
    align-items: flex-start
}

#tm-box-icon-6400e4c25c05c .content-wrap {
    text-align: left;
    align-items: flex-start
}

#tm-heading-6400e4c25d059 {
    text-align: center
}

#tm-heading-6400e4c25d059 .heading {
    color: #ababab
}

#tm-heading-6400e4c25d4e7 {
    text-align: center
}

#tm-heading-6400e4c25d4e7 .heading {
    line-height: 1.4
}

#tm-heading-6400e4c265740 {
    text-align: center
}

#tm-heading-6400e4c265740 .heading {
    line-height: 1.4
}

#tm-testimonial-6400e4c266345 .testimonial-desc {
    color: #2d4363
}

#tm-testimonial-6400e4c266345 .testimonial-name {
    color: #2d4363
}

#tm-testimonial-6400e4c266345 .testimonial-by-line {
    color: #2d4363
}

#tm-heading-6400e4c26964c {
    text-align: center
}

#tm-heading-6400e4c26964c .heading {
    line-height: 1.4
}

#tm-section-6400e4c44f422 {
    background-color: #f8f8f8
}

#tm-section-6400e4c44f422 {
    padding-top: 84px !important;
    padding-bottom: 52px !important
}

#tm-image-6400e4c450084 {
    text-align: left
}

#tm-heading-6400e4c450374 {
    text-align: left
}

#tm-heading-6400e4c453be6 {
    text-align: left
}

#tm-heading-6400e4c453be6 .heading {
    font-weight: 700;
    color: #333
}

#tm-heading-6400e4c453be6 .heading:hover {
    color: #2d4363
}

#tm-list-6400e4c454342 {
    text-align: left
}

#tm-list-6400e4c454342 {
    grid-template-columns: repeat(1, 1fr)
}

#tm-list-6400e4c454b67 {
    text-align: left
}

#tm-list-6400e4c454b67 {
    grid-template-columns: repeat(1, 1fr)
}

#tm-list-6400e4c455375 {
    text-align: left
}

#tm-list-6400e4c455375 {
    grid-template-columns: repeat(1, 1fr)
}

#tm-heading-6400e4c456414 {
    text-align: left
}

#tm-heading-6400e4c456414 .heading {
    color: #7e7e7e
}

#tm-social-networks-6400e4c456978 {
    text-align: right
}

#tm-spacer-6400e4c22edcf {
    height: 30px
}

#tm-spacer-6400e4c2454fd {
    height: 30px
}

#tm-heading-6400e4c245721 .heading {
    font-size: 40px
}

#tm-spacer-6400e4c245c4f {
    height: 40px
}

#tm-spacer-6400e4c2465eb {
    height: 24px
}

#tm-heading-6400e4c246734 .heading {
    font-size: 40px
}

#tm-spacer-6400e4c246aaf {
    height: 30px
}

#tm-spacer-6400e4c24a37c {
    height: 60px
}

#tm-spacer-6400e4c24a7ca {
    height: 20px
}

#tm-spacer-6400e4c24ac4d {
    height: 20px
}

#tm-spacer-6400e4c24b097 {
    height: 20px
}

#tm-spacer-6400e4c24b1ec {
    height: 20px
}

#tm-spacer-6400e4c24bbf7 {
    height: 70px
}

#tm-heading-6400e4c24bd28 .heading {
    font-size: 40px
}

#tm-spacer-6400e4c24bff3 {
    height: 30px
}

#tm-grid-6400e4c24c097 .modern-grid {
    grid-template-columns: repeat(3, 1fr)
}

#tm-spacer-6400e4c24eab5 {
    height: 10px
}

#tm-grid-6400e4c24eb5a .modern-grid {
    grid-template-columns: repeat(3, 1fr)
}

#tm-spacer-6400e4c2527ce {
    height: 100px
}

#tm-spacer-6400e4c253550 {
    height: 50px
}

#tm-spacer-6400e4c253b3e {
    height: 5px
}

#tm-heading-6400e4c253c88 .heading {
    font-size: 40px
}

#tm-spacer-6400e4c253fec {
    height: 24px
}

#tm-grid-6400e4c2540a8 .modern-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px
}

#tm-spacer-6400e4c258dd0 {
    height: 20px
}

#tm-button-6400e4c258f8b .button-icon {
    font-size: 14px
}

#tm-spacer-6400e4c25979c {
    height: 50px
}

#tm-spacer-6400e4c25a158 {
    height: 50px
}

#tm-grid-6400e4c25a22f .modern-grid {
    grid-template-columns: repeat(4, 1fr)
}

#tm-spacer-6400e4c25cf33 {
    height: 50px
}

#tm-heading-6400e4c25d4e7 .heading {
    font-size: 40px
}

#tm-spacer-6400e4c25d839 {
    height: 23px
}

#tm-gallery-6400e4c25d990 .modern-grid {
    grid-template-columns: repeat(10, 1fr)
}

#tm-spacer-6400e4c264b20 {
    height: 20px
}

#tm-spacer-6400e4c265563 {
    height: 30px
}

#tm-heading-6400e4c265740 .heading {
    font-size: 40px
}

#tm-spacer-6400e4c265b58 {
    height: 20px
}

#tm-spacer-6400e4c2687fe {
    height: 50px
}

#tm-heading-6400e4c26964c .heading {
    font-size: 40px
}

#tm-spacer-6400e4c269b59 {
    height: 30px
}

#tm-spacer-6400e4c44d5b3 {
    height: 10px
}

#tm-spacer-6400e4c45024e {
    height: 31px
}

#tm-heading-6400e4c450374 .heading {
    font-size: 20px
}

#tm-spacer-6400e4c453ace {
    height: 10px
}

#tm-spacer-6400e4c453eb6 {
    height: 50px
}

#tm-spacer-6400e4c4540fa {
    height: 28px
}

#tm-spacer-6400e4c45473d {
    height: 50px
}

#tm-spacer-6400e4c454963 {
    height: 28px
}

#tm-spacer-6400e4c454f76 {
    height: 50px
}

#tm-spacer-6400e4c455180 {
    height: 28px
}

#tm-spacer-6400e4c455780 {
    height: 50px
}

#tm-spacer-6400e4c455e10 {
    height: 15px
}

@media(max-width:1199px) {
    #tm-heading-6400e4c245721 .heading {
        font-size: 34px
    }

    #tm-heading-6400e4c246734 .heading {
        font-size: 34px
    }

    #tm-heading-6400e4c24bd28 .heading {
        font-size: 34px
    }

    #tm-grid-6400e4c24c097 .modern-grid {
        grid-template-columns: repeat(3, 1fr)
    }

    #tm-grid-6400e4c24eb5a .modern-grid {
        grid-template-columns: repeat(3, 1fr)
    }

    #tm-heading-6400e4c253c88 .heading {
        font-size: 34px
    }

    #tm-grid-6400e4c2540a8 .modern-grid {
        grid-template-columns: repeat(3, 1fr)
    }

    #tm-grid-6400e4c25a22f .modern-grid {
        grid-template-columns: repeat(4, 1fr)
    }

    #tm-heading-6400e4c25d4e7 .heading {
        font-size: 34px
    }

    #tm-gallery-6400e4c25d990 .modern-grid {
        grid-template-columns: repeat(5, 1fr)
    }

    #tm-heading-6400e4c265740 .heading {
        font-size: 34px
    }

    #tm-heading-6400e4c26964c .heading {
        font-size: 34px
    }

    #tm-spacer-6400e4c4540fa {
        height: 0
    }

    #tm-spacer-6400e4c454963 {
        height: 0
    }

    #tm-spacer-6400e4c455180 {
        height: 0
    }
}

@media(max-width:992px) {
    #tm-heading-6400e4c245721 .heading {
        font-size: 28px
    }

    #tm-heading-6400e4c246734 .heading {
        font-size: 28px
    }

    #tm-heading-6400e4c24bd28 .heading {
        font-size: 28px
    }

    #tm-grid-6400e4c24c097 .modern-grid {
        grid-template-columns: repeat(2, 1fr)
    }

    #tm-grid-6400e4c24eb5a .modern-grid {
        grid-template-columns: repeat(2, 1fr)
    }

    #tm-heading-6400e4c253c88 .heading {
        font-size: 28px
    }

    #tm-grid-6400e4c2540a8 .modern-grid {
        grid-template-columns: repeat(2, 1fr)
    }

    #tm-grid-6400e4c25a22f .modern-grid {
        grid-template-columns: repeat(1, 1fr)
    }

    #tm-heading-6400e4c25d4e7 .heading {
        font-size: 28px
    }

    #tm-gallery-6400e4c25d990 .modern-grid {
        grid-template-columns: repeat(4, 1fr)
    }

    #tm-heading-6400e4c265740 .heading {
        font-size: 28px
    }

    #tm-heading-6400e4c26964c .heading {
        font-size: 28px
    }
}

@media(max-width:767px) {
    #tm-list-6400e4c454342 {
        grid-template-columns: repeat(1, 1fr)
    }

    #tm-list-6400e4c454b67 {
        grid-template-columns: repeat(1, 1fr)
    }

    #tm-list-6400e4c455375 {
        grid-template-columns: repeat(1, 1fr)
    }

    #tm-column-6400e4c4561de {
        -webkit-order: 3;
        -moz-order: 3;
        order: 3
    }

    #tm-social-networks-6400e4c456978 {
        text-align: left
    }
}

@media(max-width:767px) {
    #tm-spacer-6400e4c24a37c {
        height: 0
    }

    #tm-grid-6400e4c24c097 .modern-grid {
        grid-template-columns: repeat(1, 1fr)
    }

    #tm-grid-6400e4c24eb5a .modern-grid {
        grid-template-columns: repeat(1, 1fr)
    }

    #tm-grid-6400e4c2540a8 .modern-grid {
        grid-template-columns: repeat(1, 1fr)
    }

    #tm-grid-6400e4c25a22f .modern-grid {
        grid-template-columns: repeat(1, 1fr)
    }

    #tm-gallery-6400e4c25d990 .modern-grid {
        grid-template-columns: repeat(3, 1fr)
    }

    #tm-spacer-6400e4c456eec {
        height: 30px
    }
}

</style>