<style id="rs-plugin-settings-inline-css" type="text/css">
#rs-demo-id {}
	#rev_slider_12_1_wrapper rs-loader.spinner3 div { background-color: #FFFFFF !important; } #rev_slider_12_1_wrapper .custom.tparrows {
	cursor:pointer;
	background:#000;
	background:rgba(0,0,0,0.5);
	width:40px;
	height:40px;
	position:absolute;
	display:block;
	z-index:1000;
}
#rev_slider_12_1_wrapper .custom.tparrows:hover {
	background:#000;
}
#rev_slider_12_1_wrapper .custom.tparrows:before {
	font-family: 'revicons';
	font-size:15px;
	color:#fff;
	display:block;
	line-height: 40px;
	text-align: center;
}
#rev_slider_12_1_wrapper .custom.tparrows.tp-leftarrow:before {
	content: '\e824';
}
#rev_slider_12_1_wrapper .custom.tparrows.tp-rightarrow:before {
	content: '\e825';
}


#rev_slider_12_1_wrapper .hades.tp-bullets {
}
#rev_slider_12_1_wrapper .hades.tp-bullets:before {
	content:' ';
	position:absolute;
	width:100%;
	height:100%;
	background:transparent;
	padding:10px;
	margin-left:-10px;margin-top:-10px;
	box-sizing:content-box;
}
#rev_slider_12_1_wrapper .hades .tp-bullet {
	width:3px;
	height:3px;
	position:absolute;
	background:#7f7f7f;
	cursor: pointer;
    border:5px solid #ffffff;
	box-sizing:content-box;
    box-shadow:0px 0px 3px 1px rgba(0,0,0,0.2);
    -webkit-perspective:400;
    perspective:400;
    -webkit-transform:translatez(0.01px);
    transform:translatez(0.01px);
}
#rev_slider_12_1_wrapper .hades .tp-bullet:hover,
#rev_slider_12_1_wrapper .hades .tp-bullet.selected {
	background:#565656;
    border-color:#ffffff;
}

#rev_slider_12_1_wrapper .hades .tp-bullet-image {
  position:absolute;
  top:-80px; 
  left:0;
  width:120px;
  height:60px;
  background-position:center center;
  background-size:cover;
  visibility:hidden;
  opacity:0;
  transition:all 0.3s;
  -webkit-transform-style:flat;
  transform-style:flat;
  perspective:600;
  -webkit-perspective:600;
  transform: rotatex(-90deg) translatex(-50%);
  -webkit-transform: rotatex(-90deg) translate(-50%);
  box-shadow:0px 0px 3px 1px rgba(0,0,0,0.2);
  transform-origin:50% 100%;
  -webkit-transform-origin:50% 100%;
  
  
}
#rev_slider_12_1_wrapper .hades .tp-bullet:hover .tp-bullet-image {
  display:block;
  opacity:1;
  transform: rotatex(0deg) translatex(-50%);
  -webkit-transform: rotatex(0deg) translatex(-50%);
  visibility:visible;
    }
#rev_slider_12_1_wrapper .hades .tp-bullet-title {
}





</style>